.google-card{
    background-color: blue !important;
}
.youtube-card{
    background-color: red !important;
}
.x-card{
    background-color: lightblue !important;
}
.instagram-card{
    background-color: purple !important;
}