

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
}

.gridHeader {
    background-color: #dcd6fe;
    grid-area: 1/1/2/2;
}

.gridNav {
    background-color: #c6c0ff;
    grid-area: 2/1/3/2;
}

.gridMain {
    background-color: #f9f6d2;
    grid-area: 3/ 1/ 4/2;
}
.gridMain p{
    font-size: 1.5em;
}

.gridAside {
    background-color: #d4ffd1;
    grid-area: 4/ 1/ 5/ 2;
}

.gridFooter {
    background-color: #ffd1d1;
    grid-area: 5/1/6/2;
}
.gridHeader , .gridNav, .gridMain, .gridAside, .gridFooter{
    text-align: center;

}
.gridHeader span, .gridNav span, .gridMain span, .gridAside span, .gridFooter span{
    font-size: 2em;
}
@media screen and (min-width: 768px) {
    body{
        min-height: 800px;
    }
    .grid {
        grid-template-columns: 0.5fr 1fr 7fr 1fr 0.5fr;
        grid-template-areas:
            "header header header header header"
            ". nav main aside ."
            "footer footer footer footer footer";
    }
}


